<tr style="background:#313030">
    <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <br>
            <tr>
                <td align="left" valign="top">
                    <table border="0" cellpadding="" cellspacing="0" width="96%" margin-left="2%" style="margin: 0px !important;" class="flexibleContainer">
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="30" cellspacing="0" width="96%" margin-left="2%">
                                    <h3 style="padding-top:20px;color:#5F5F5F;line-height:150%;font-family:Helvetica,Arial,sans-serif;font-size:12px;font-weight:normal;margin-top:0;margin-bottom:3px;text-align:left;letter-spacing: 1px;font-weight: 500;text-align: left;text-transform: uppercase;">
                                        Digitally powered by<br>
                                        <span style="color:#2196F3;line-height:100%;font-family:Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;margin-top:0;margin-bottom:3px;text-align:left;letter-spacing: 2px;display: block;margin: auto;"><img src="https://parichay.app/email_resources/kanris_999.png" width="100" style="height: 50px !important;" alt=""> 
                                    </h3>
                             <!--        <p style="font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#5F5F5F">3, Bharat Nagar, Near Dombivali Gymkhana, Mumbai - 421 201</p> -->
                                    <br>
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="30" style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;cursor:pointer;">
                                                <table width="30">
                                                    <img src="https://parichay.app/email_resources/facebook_999.png" width="20" style="height:20px!important;width: 20px;" align="center" alt="" srcset="">
                                                </table>
                                            </td>
                                            <td width="30" style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;cursor:pointer;">
                                                <table width="30">
                                                    <img src="https://parichay.app/email_resources/twitter_999.png" width="20" style="height:20px!important;width: 20px;" align="center" alt="" srcset="">
                                                </table>
                                            </td>
                                            <td width="30" style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;cursor:pointer;">
                                                <table width="30">
                                                    <img src="https://parichay.app/email_resources/linkedin_999.png" width="20" style="height:20px!important;width: 20px;" align="center" alt="" srcset="">
                                                </table>
                                            </td>
                                            <td width="30" style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;cursor:pointer;">
                                                <table width="30">
                                                    <img src="https://parichay.app/email_resources/instagram_999.png" width="20" style="height:20px!important;width: 20px;" align="center" alt="" srcset="">
                                                </table>
                                            </td>
                                            <td width="30" style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;cursor:pointer;">
                                                <table width="30">
                                                    <img src="https://parichay.app/email_resources/github_999.png" width="20" style="height:20px!important;width: 20px;" align="center" alt="" srcset="">
                                                </table>
                                            </td>
                                            <td width="30" style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;cursor:pointer;">
                                                <table width="30">
                                                    <img src="https://parichay.app/email_resources/codepen.png" width="20" style="height:20px!important;width: 20px;" align="center" alt="" srcset="">
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br>
                </td>
            </tr>
        </table>
                        <!-- // CENTERING TABLE -->
    </td>
</tr>